body {
  background-image: url("images/toronto-ontario.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.resort-title {
  text-align: center;
}
form {
  text-align: center;
}
.form-fields {
  padding: 10px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 20px;
  color: #fff;
}

input {
  margin-right: 2%;
}

select {
  margin-right: 2%;
}
